<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title>ツイッターシェアボタン</title>
	<link rel="stylesheet" href="./css/style.css">
	<link rel="canonical" href="https://realdgame.jp/hunter2019">
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
	<div id="your_name">
		<input v-model="your_name" placeholder="名前を入力して下さい">
		<h2>入力した名前:<span v-text="your_name"></span></h2>
		<div v-if="your_name"><a :href="'quiz.html?your_name='+your_name">名前入力が完了したらここを押してください</a></div>
		<hr>
	</div>
	<script src="./js/your_name.js"></script>
</body>

</html>